VITE_SHEETS_BASE_URL=
VITE_APPS_SCRIPT_URL=
VITE_WA_NUMBER=919890202091
VITE_MAPS_EMBED_URL=
VITE_ADMIN_ID=ShivamNirmal
VITE_ADMIN_PASS=041404
VITE_VAPID_PUBLIC_KEY=
VITE_SITE_URL=https://jmdautocare.in